:root {
  --gerrit-change-background-normal: #bfccd6;
  --gerrit-change-background-warning: #d9822b;
  --gerrit-change-background-danger: #f55656;

  --gerrit-change-padding: 10px;
}

.gerrit-change {
  padding: var(--gerrit-change-padding);
}

.gerrit-change span {
}

.gerrit-change-normal {
  color: #182026;
  background: var(--gerrit-change-background-normal);
}
.gerrit-change-normal a {
  color: #182026 !important;
}
.gerrit-change-warning {
  background: var(--gerrit-change-background-warning);
}
.gerrit-change-warning a {
  color: #ffffff !important;
}
.gerrit-change-danger {
  background: var(--gerrit-change-background-danger);
}
.gerrit-change-danger a {
  color: #ffffff !important;
}
